extends ../layout-dashboard


block page-header
    link(href='/styles/signin.css', rel='stylesheet')

block page-body
    h1.page-header Dashboard
        .row.placeholders
            .col-xs-6.col-sm-3.placeholder
                img.img-responsive(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', width='200', height='200', alt='Generic placeholder thumbnail')
                h4 Label
                span.text-muted Something else
            .col-xs-6.col-sm-3.placeholder
                img.img-responsive(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', width='200', height='200', alt='Generic placeholder thumbnail')
                h4 Label
                span.text-muted Something else
            .col-xs-6.col-sm-3.placeholder
                img.img-responsive(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', width='200', height='200', alt='Generic placeholder thumbnail')
                h4 Label
                span.text-muted Something else
            .col-xs-6.col-sm-3.placeholder
                img.img-responsive(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', width='200', height='200', alt='Generic placeholder thumbnail')
                h4 Label
                span.text-muted Something else

block page-scripts
    script().
        $(document).ready(function(){
            $("#signin").on("click", function(){
                 $("#alert_message").removeClass("alert-danger alert-success show").addClass("hide")
                var loginForm = $("#login-form");
                loginForm.validate()

                if(loginForm.valid())
                {
                    var user = {
                        email: $("#inputEmail").val(), 
                        password: $("#inputPassword").val()
                    }

                    $.ajax({
                        type: "POST",
                        url: "/user/processLogin",
                        data: user,
                        success: function(response){
                            if(response.success)
                            {
                                window.location.href = response.redirect;
                            }
                            else
                            {
                                $("#alert_message").html(response.message)
                                $("#alert_message").removeClass("alert-success hide").addClass("alert-danger show")
                            }
                        }
                    });

                    //- io.socket.post("/user/processLogin", user, )
                    
                }
            })
        })