doctype html
html
  head
    include include/header

  body
    block body

    // The linker searches for this tag and adds js.  If there's no linker, we point to sails.io.js
    // SCRIPTS
    script(src="/js/dependencies/sails.io.js")
    script(src="/js/dependencies/jquery.min.js")
    script(src="/js/bootstrap.min.js")
    // SCRIPTS END

