extends ../layout-signin

block page-header
    link(href='/styles/registration.css', rel='stylesheet')

block page-body
    form#login-form.form-signin
        h2.form-signin-heading Registration
        label.sr-only(for='first_name') First Name
        input#first_name.form-control(type='text', name="first_name", placeholder='First Name', required='', autofocus='')
        label.sr-only(for='last_name') Last Name
        input#last_name.form-control(type='text', name="last_name", placeholder='Last Name', required='', autofocus='')
        label.sr-only(for='access_type') Access Type
        select#access_type.form-control(name="access_type", placeholder='User', required='')
            option(value="user") User
            option(value="admin") Admin
        label.sr-only(for='email') Email address
        input#email.form-control(type='email', name="email", placeholder='Email address', required='')
        label.sr-only(for='password') Password
        input#password.form-control(type='password', name="password", placeholder='Password', required='')
        label.sr-only(for='confirm_password') Confirm Password
        input#confirm_password.form-control(type='password', name="confirm_password", placeholder='Confirm Password', required='')
        #alert_message.alert.hide(role='alert')
        button#register.btn.btn-lg.btn-primary.btn-block(type='button') Submit

block page-scripts
    script().
        $(document).ready(function(){
            jQuery.extend(jQuery.validator.messages, {
                equalTo: "Please enter the same password value again.",
            });

            $("#login-form").validate({
                rules: {
                    password: "required",
                    confirm_password: {
                        equalTo: "#password"
                    }
                }
            });
            
            $("#register").on("click", function(){
                $("#alert_message").removeClass("alert-danger alert-success show").addClass("hide")
                var loginForm = $("#login-form");
                loginForm.validate()
                //- console.log("Is valid form: " + loginForm.valid());

                if(loginForm.valid())
                {
                    var user = {
                        first_name: $("#first_name").val(),
                        last_name: $("#last_name").val(),
                        email: $("#email").val(), 
                        password: $("#password").val(),
                        access_type: $("#access_type").val()
                    }

                    //- console.log("User: ")
                    //- console.log(user)
                    io.socket.post("/user/create", user, function(response){
                        if(response.success)
                        {
                            $("#alert_message").html("User was successfully registered.")
                            $("#alert_message").removeClass("alert-danger hide").addClass("alert-success show")
                        }
                        else
                        {
                            $("#alert_message").html(response.message)
                            $("#alert_message").removeClass("alert-success hide").addClass("alert-danger show")
                        }
                    })
                    
                }
            })
        })