extends ../layout-dashboard


block page-header

block page-body
    //- h1.page-header Report an Incident
    .row.placeholders
        #map(style="height:350px; width:100%")
        input#type(value="#{data.type}", type="hidden")
        input#description(value="#{data.description}", type="hidden")
        input#lat(value="#{data.lat}", type="hidden")
        input#lng(value="#{data.lng}", type="hidden")
    .row.placeholders
       

block page-scripts
    script().
        var map;
        var marker;
        var infowindow;
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(initMap);
            } else {
               console.log("The browser does not have capability to get geolocation.")
            }
        }

        function initMap(position) {
            var myPosition = new google.maps.LatLng($("#lat").val()  , $("#lng").val());

            map = new google.maps.Map(document.getElementById('map'), {
            center: myPosition,
            zoom: 16
            });

            var contentString = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h4 id="firstHeading" class="firstHeading">Incident: ' + $("#type").val() + '</h4>'+
            '<div id="bodyContent">'+
            '<p>' + $("#description").val() + '</p>'+
            '</div>'+
            '</div>';

            infowindow = new google.maps.InfoWindow({
                content: contentString
            });

            marker = new google.maps.Marker({
                map: map,
                draggable: true,
                animation: google.maps.Animation.DROP,
                position: myPosition,
                //- title:"Hello World!"
            });

            marker.addListener('click', function() {
                infowindow.open(map, marker);
            });

        }

        function changeInfoWindow()
        {
            if(infowindow && infowindow.setContent)
            {

                var contentString = '<div id="content">'+
                '<div id="siteNotice">'+
                '</div>'+
                '<h4 id="firstHeading" class="firstHeading">Incident: ' + $("#incident_type").val() + '</h4>'+
                '<div id="bodyContent">'+
                '<p>' + ($("#description").val() || "Incident Description") + '</p>'+
                '</div>'+
                '</div>';
                infowindow.setContent(contentString)
            }
        }

        $(document).ready(function(){
            $("#incident_type").on("change",changeInfoWindow)
            $("#description").on('input', changeInfoWindow)

        })
    script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDOFaIHtxnWnFdp3Kc5p2rFnM9LinJ9J5w&callback=getLocation')