extends ../layout-dashboard


block page-header
    

block page-body
    .row.placeholders
        table.table.table-striped.table-hover(id="table_incident")
            thead
                tr
                    th Incident Type
                    th Description
                    th Status
                    th Report Date
                    th
            tbody


block page-scripts
    script(src="https://cdn.datatables.net/s/bs-3.3.5/jq-2.1.4,dt-1.10.10/datatables.min.js")
    script(src="http://momentjs.com/downloads/moment.min.js")
    script().
        var table_incident;
        var datas;
        function getDatas() {
            io.socket.get("/incident/find", function(data) {
                table_incident.clear()
                table_incident.rows.add(data).draw();
            })
        }
        $(document).ready(function(){
            table_incident = $("#table_incident").DataTable({
                bAutoWidth: false,
                "iDisplayLength": 25,
                "aaSorting": [[3,'desc']],
                "aoColumns": [
                    { 
                        "mDataProp" : function(data, type ,val){
                            return data.type || ""
                        }
                    },
                    { 
                        "mDataProp" : function(data, type ,val){
                            return data.description || ""
                        }
                    },
                    { 
                        "mDataProp" : function(data, type ,val){
                            return data.status || ""
                        }
                    },
                    { 
                        "mDataProp" : function(data, type ,val){
                            return (data.createdAt ? moment(data.createdAt).format("lll") : "")
                        }
                    },
                    { 
                        "mDataProp" : function(data, type ,val){
                            return "test"
                        }
                    }
                ]
            });
            setInterval(function(){
                getDatas();
            }, 5000);
            getDatas();
        })